<div class="row set-margin">
  <div class="col-lg-12">
    <h3 class="text-left">User</h3>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-8"></div>
      <div class="col-lg-4 pull-right">
        <input aria-label="Search" [(ngModel)]="search" (keyup)="loadTable()" placeholder="Search" type="text">
      </div>
    </div>
    <table class="table" *ngIf="users.users">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Nmae</th>
          <th>Phone Number</th>
          <th>Create At</th>
          <th>Update At</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users.users | paginate: config ">
          <td>{{ user.id }}</td>
          <td><a routerLink="/users/{{ user.id }}">{{ user.email }}</a></td>
          <td><a routerLink="/users/{{ user.id }}">{{ user.first_name }}</a></td>
          <td><a routerLink="/users/{{ user.id }}">{{ user.last_name }}</a></td>
          <td>{{ user.phone_number }}</td>
          <td>{{ user.created_at | date:'dd/MM/yyyy เวลา HH:mm' }}</td>
          <td>{{ user.updated_at | date:'dd/MM/yyyy เวลา HH:mm' }}</td>
          <td><button [disabled]="!sessions.signed_in" class="btn btn-danger"
              (click)="removeUser(user.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      <div class="col-lg-1 pull-right">
        <select [(ngModel)]="limit" class="form-control" (change)="loadTable()">
          <option *ngFor="let limit of limited" [value]="limit">{{ limit }}</option>
        </select>
      </div>
    </div>
  </div>
</div>