<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
  <a class="navbar-brand" routerLink="homes" routerLinkActive="active">Angular</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{ 'active': activeTab === 'homes'}" (click)="activeNavTab('homes')">
        <a class="nav-link" routerLink="homes" routerLinkActive="active">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': activeTab === 'users'}" (click)="activeNavTab('users')">
        <a class="nav-link" routerLink="users" routerLinkActive="active">User</a>
      </li>
      <li class="nav-item" *ngIf="!sessions.signed_in" [ngClass]="{ 'active': activeTab === 'sign_in'}"
        (click)="activeNavTab('sign_in')">
        <a class="nav-link" routerLink="sign_in" routerLinkActive="active">Sign in</a>
      </li>
    </ul>

    <div ngbDropdown class="d-inline-block" *ngIf="sessions.signed_in">
      <img [src]="sessions.photo_url" class="img-sm" ngbDropdownToggle>
      <button class="btn btn-sm text-white" id="dropdownSignInMenu"
        ngbDropdownToggle>{{ sessions.current_user.email }}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownSignInMenu">
        <button ngbDropdownItem>Profile</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem (click)="signOut(sessions.current_user.id)">Sign Out</button>
      </div>
    </div>
  </div>
</nav>

<div class="container py-5">
  <ng-flash-message></ng-flash-message>
  <div class="card">
    <div class="row">
      <div class="col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>